.App {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;

}

body {
  padding: 0;
  margin: 0;
}

.main {
  width: 100%;
  height: 50vh;

}

.main__header {
  width: 500px;
  margin: auto auto;
  text-align: center;
}


.main__form .searchbar {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}



/* .main__input {
  width: 400px;
  height: 30px;
  border: 1px solid #d1d2d4;
  outline: none;
  font-size: 20px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;

} */

.main__group {
  margin-top: 15px;
  width: 100%;
  text-align: center;
}


.searchbar__input {
  display: flex;
  align-items: center;
  border: 1px solid #d1d2d4;
  height: 30px;
  border-radius: 24px;
  width: 60%;
  margin: 0 auto;
  margin-top: 30px;
  max-width: 520px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
}

.autocomplete {
  position: absolute;
  top: 120px;
  background: white;
  width: 60%;
  border: 1px solid #d1d2d4;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
  z-index: 5;
  overflow: auto;
  max-height: 240px;
  max-width: 520px;
  height: auto;
  /* border-radius: 24px; */
}

.autocomplete__item {
  padding: 2px;
}

.autocomplete__item:hover {
  background-color: red;
  cursor: pointer;
  transition: cubic-bezier(1, 0, 0, 1) .3s all;
}


.searchbar__input>input {
  flex: 1;
  border: none;
}

.searchbar__input>input:focus {
  outline-width: 0px;
}

.searchbar__button {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.searchbar__button>button {
  outline: none;
  color: #595c5f;
  cursor: pointer;
  background: #f2f2f2;
  padding: 10px 12px;
  margin: 5px;
  border: none;
  border-radius: 5px;
}

.searchbar__button>button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #f8f8f8;
}

.searchbar__buttonHidden {
  display: none !important;
}